.orbitWrapper {
  position: relative;
  width: 420px;
  height: 420px;
  margin-left: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* each icon separately moves */
.icon {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 52px;
  height: 52px;
  margin-left: -150px;

  animation: moveOrbit 18s linear infinite;
  animation-delay: calc(-1.6s * var(--i));
}

.icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  padding: 8px;
  border-radius: 50%;
  background: rgba(255,255,255,0.08);
}

/* photo */
.centerImage {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 5;
}

.centerImage img {
  width: 360px;
  height: 530px;
  border: 40px;
  margin-top: 70px;
  object-fit: contain;
}

/* clean circular travel */
@keyframes moveOrbit {
  from {
    transform: rotate(0deg) translateX(230px) rotate(0deg);
  }

  to {
    transform: rotate(-360deg) translateX(230px) rotate(360deg);
  }
}
